.env
venv/
/venv
__pycache__
orders/
/orders
/orders/
conversations.json
test.py/
/test.py
/test.py/
.venv
*.pcm
*.pyc
.venv
.env
main.log
test_*.py
received_audio/*
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
.claude/*
.DS_STORE
CLAUDE.md
scripts/*
*.wav
