<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Chill Panda</title>
  <script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
    integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../public/style.css" />
</head>

<body class="">
  <div class="content">
    <!-- <img class="click" src="../public/click.png" /> -->
    <div class="button-container">
      <input type="checkbox" id="record" class="mic-checkbox" />
      <label for="record" class="mic-button">
        <div class="mic">
          <div class="mic-button-loader"></div>
          <div class="mic-base"></div>
        </div>
        <div class="button-message">
          <span>&nbsp;</span>
          <span> START </span>
        </div>
      </label>

    </div>
  </div>

  <div class="uuid-container">
    <div class="uuid-controls">
      <select id="language-select" title="Select Input Language">
        <option value="en">English (English)</option>
        <option value="zh-HK">Cantonese (粵語)</option>
        <option value="zh-TW">Mandarin (普通話)</option>
      </select>
      <select id="role-select" title="Select Persona Role">
        <option value="loyal_best_friend">Loyal Best Friend</option>
        <option value="caring_parent">Caring Parent</option>
        <option value="coach">Coach</option>
        <option value="funny_friend">Funny Friend</option>
      </select>
      <input type="text" id="uuid-field" placeholder="Session UUID" readonly />
      <button id="generate-uuid-btn" title="Generate New UUID">
        <i class="fas fa-sync-alt"></i> New
      </button>
    </div>
    <div class="uuid-help">Language & Session ID (auto-saved)</div>
  </div>


  <div id="chat_container" class="chat-container">
    <div id="user-msg" class="chat right"></div>
    <div id="llm-msg" class="chat left"></div>
  </div>


  <script src="../public/client_v2.js"></script>
</body>

</html>